<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Puzzle - Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

    <div class="login-wrapper">
        <input type="text" id="username" class="input-field" placeholder="User Name" autocomplete="off">
        <input type="password" id="password" class="input-field" placeholder="Password">
        
        <button id="btn-login" class="ghoul-btn">LOGIN</button>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>