<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>City Puzzle - Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="reg-wrapper">
        
        <div class="avatar-option" id="avatar-1" data-id="1">
            <img src="{{ url_for('static', filename='img/Photo_stickers/Man1.png') }}" alt="Avatar 1">
        </div>
        
        <div class="avatar-option" id="avatar-2" data-id="2">
            <img src="{{ url_for('static', filename='img/Photo_stickers/Man2.png') }}" alt="Avatar 2">
        </div>
        
        <div class="avatar-option" id="avatar-3" data-id="3">
            <img src="{{ url_for('static', filename='img/Photo_stickers/Woman1.png') }}" alt="Avatar 3">
        </div>
        
        <div class="avatar-option" id="avatar-4" data-id="4">
            <img src="{{ url_for('static', filename='img/Photo_stickers/Woman2.png') }}" alt="Avatar 4">
        </div>
        
        <div class="avatar-option" id="avatar-5" data-id="5">
            <img src="{{ url_for('static', filename='img/Photo_stickers/Press1.png') }}" alt="Avatar 5">
        </div>
        
        <div class="avatar-option" id="avatar-6" data-id="6">
            <img src="{{ url_for('static', filename='img/Photo_stickers/Press2.png') }}" alt="Avatar 6">
        </div>


        <input type="text" id="reg-username" class="input-field" placeholder="Create Username" autocomplete="off">
        <input type="password" id="reg-password" class="input-field" placeholder="Create Password">
        
        <button id="btn-register" class="ghoul-btn">REGISTER</button>
    </div>

    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>